
$productBackGround : #cce3de;


@media only screen and (max-width: 575px) {
  .main_wrapper {
    .header_Wrapper {
      background-color: $productBackGround;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      .logo_block {
        margin: 0;
        padding: 0;
        top: 35%;
        left: 45%;
        .mannat_logo {
          .logo {
            height: 15rem;
          }
        }
      }
      .search_block {
        margin: 0;
        padding: 0;
      }
      .menu_block {
        display: none;
      }
    }
    .home_Wrapper {
      .product_list_header {
        margin-top: 10px;
        margin-left: 10px;
      }
      .product_list_wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .product_item {
          min-height: 300px;
          height: unset;
          .product_image_con_outer {
            height: 200px;
            .product_image_con_inner {
              height: 150px;
              width: 100px;
            }
          }
          .product_details {
            padding: 5px;
            .product_rating {
              gap: 5px;
              .no_reviews_cont {
                margin-top: 2px;
                color: gray;
                font-size: 12px;
              }
            }
            .product_title {
              font-size: 17px;
              font-weight: 500;
              color: #111;
              line-height: 28px;
            }
          }
        }
      }
    }
    .about_us_wrapper {
      padding: 10px;
    }
  }
}
