//   =============== Color Code==================
$themeBlack: #364446;
$blueButton: linear-gradient(61deg, #3ac3ff 0%, #2aaee8 100%);
$themeBlue: #3ac3ff;
$blueGradient: linear-gradient(67deg, #3ac3ff 0%, #2aaee8 100%);
$placeholderColor: rgba(24, 41, 41, 0.4);
$themeGreen: #6fc85d;
$sidebarBg: linear-gradient(148deg, #f2fafe00 0%, #f2fafe 1%);

.custom_container {
  max-width: 1513px;
  margin: 0 auto;
  padding: 0 30px;
}
.horizontal_line {
  margin: 0;
  padding: 0;
}

.swiper {
  .swiper-slide {
    img {
      display: block;
      max-height: 450px;
      width: 100%;
      object-fit: cover;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
  }

  &.details-image-gallary-swiper {
    .swiper-button-prev,
    .swiper-button-next {
      width: 35px;
      height: 30px;
      margin-top: calc(0px - (35px / 2));
      opacity: 0.6;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
      opacity: 1;
    }

    .swiper-button-prev {
      left: 0;
      border-radius: 0 4px 4px 0;
    }
    .swiper-button-next {
      right: 0;
      border-radius: 4px 0 0 4px;
    }
  }
}

.thumb-swiper {
  height: 50px;
  margin-top: 0.5rem;
  .swiper-slide {
    opacity: 0.4;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.main_wrapper {
  // height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  .header_Wrapper {
    background-color: #fdecef;
    position: relative;
    height: 90px;
    padding: 0 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .logo_block {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      .mannat_logo {
        cursor: pointer;
        .logo {
          height: 25rem;
        }
      }
    }
    .search_block {
      .search {
        display: inline-block;
      }
      .search_icon {
        position: relative;
        right: 30px;
        cursor: pointer;
      }
    }
    .menu_block {
      display: flex;
      gap: 2rem;
      a {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .home_Wrapper {
    .caraousel_wrapper {
      .caraousel_image {
        max-height: 400px;
        margin-inline: auto;
        object-fit: cover;
      }
    }
    .product_list_header {
      margin-top: 10px;
      margin-left: 16.5rem;
    }
    .product_list_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-bottom: 10px;
      padding-top: 10px;
      .product_item {
        height: 400px;
        cursor: pointer;
        background-color: #fff;
        .product_image_con_outer {
          display: grid;
          place-content: center;
          width: 100%;
          height: 300px;
          background-color: #f2f2f2;
          .product_image_con_inner {
            height: 200px;
            width: 200px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .product_details {
          padding: 10px;
          .product_rating {
            display: inline-flex;
            gap: 15px;
            .no_reviews_cont {
              font-size: 13px;
            }
          }
          .product_title {
            font-size: 18px;
            font-weight: 500;
          }
          .product_discounted_price {
            font-weight: 500;
            color: #f18181;
          }
          .product_original_price {
            margin-left: 10px;
            font-weight: 500;
            color: gray;
          }
        }
      }
    }
  }
  .footer_wrapper {
    border-top: 1px solid;
    background-color: #fdecef;
    .footer {
      // background: rgb(255, 255, 255);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top: 1px solid #edededdd;
      padding: 30px 0;
      .footer_widget {
        .footer_logo {
          img {
            width: 140px;
          }
        }
        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 1.7;
          color: $themeBlack;
          margin-bottom: 23px;
        }
        .social_icons {
          margin-bottom: 70px;
          li {
            display: inline-block;
            + li {
              margin-left: 10px;
            }
            a {
              display: inline-block;
              img {
                width: 35px;
              }
            }
          }
        }
        p.copright_text {
          font-size: 12px;
          margin: 0;
        }
      }
      h4 {
        font-size: 17px;
        color: $themeBlack;
        margin-bottom: 30px;
      }
      .social_links {
        padding-left: 0;
        li {
          a {
            color: $themeBlack;
            font-weight: 400;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 14px;
            text-transform: capitalize;
          }
        }
      }
      h5 {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 2.3;
        color: $themeBlack;
        + h5 {
          margin-bottom: 30px;
        }
      }
    }
  }
  .about_us_wrapper {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 1300px;
    background-color: #fdecef;

    .banner_section {
      img {
        width: 100%;
      }
    }

    .details_section {
      padding: 1rem;
    }

    h1 {
      padding: 1rem 0;
      text-align: center;
    }

    p {
      text-align: left;
    }
  }
  .product_item_wrapper {
    padding: 10px;
    .card {
      border: none;
    }
  }
}

