//   =============== Color Code==================
$themeBlack: #364446;
$blueButton: linear-gradient(61deg, #3ac3ff 0%, #2aaee8 100%);
$themeBlue: #3ac3ff;
$blueGradient: linear-gradient(67deg, #3ac3ff 0%, #2aaee8 100%);
$placeholderColor: rgba(24, 41, 41, 0.4);
$themeGreen: #6fc85d;
$sidebarBg: linear-gradient(148deg, #f2fafe00 0%, #f2fafe 1%);

.custom_container {
  max-width: 1513px;
  margin: 0 auto;
  padding: 0 30px;
}
.horizontal_line{
  margin: 0;
  padding: 0;
}

.caraousel_image{
  width: 100%;
  height: auto;
}

.home_page_wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fdecef;
  .header_Wrapper {
    .header_container {
      padding: 0 50px;
      justify-content: space-between;
      display: flex;
      height: auto;
      align-items: center;
      flex-wrap: wrap;
      .logo_block{
        .mannat_logo{
          cursor: pointer;
        }
      }
      .search_block {
        .search {
          display: inline-block;
        }
        .search_icon {
          position: relative;
          right: 30px;
          cursor: pointer;
        }
      }
      .menu_block {
        display: flex;
        gap: 2rem;
        a {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .home_Wrapper {
    padding-bottom: 20px;
    padding-top: 10px;
    .caraousel_wrapper{
      padding: 20px 0;
    }
    .product_list_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .product_item {
        background-color: white;
        border-radius: 10px;
        max-width: 200px;
        cursor: pointer;
        border: 1px solid black;
        overflow: hidden;
        .product_image img {
          height: 200px;
          width: 200px;
          object-fit: cover;
        }
        .product_details {
          padding: 10px;
          .product_title {
            font-size: 15px;
          }
          .product_discounted_price {
            // padding-left: 5px;
          }
          .product_original_price {
            margin-left: 10px;
          }
        }
      }
    }

    // .product_item:hover {
    //   transform: scale(1.1);
    //   transition: all linear 200ms;
    //   z-index: 1;
    //   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    //   cursor: pointer;
    // }
  }
  // ===========Footer ========================
  .footer_wrapper {
    .footer {
      background: rgb(255, 255, 255);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top: 1px solid #edededdd;
      padding: 30px 0;
      .footer_widget {
        .footer_logo {
          img {
            width: 140px;
          }
        }
        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 1.7;
          color: $themeBlack;
          margin-bottom: 23px;
        }
        .social_icons {
          margin-bottom: 70px;
          li {
            display: inline-block;
            + li {
              margin-left: 10px;
            }
            a {
              display: inline-block;
              img {
                width: 35px;
              }
            }
          }
        }
        p.copright_text {
          font-size: 12px;
          margin: 0;
        }
      }
      h4 {
        font-size: 17px;
        color: $themeBlack;
        margin-bottom: 30px;
      }
      .social_links {
        padding-left: 0;
        li {
          a {
            color: $themeBlack;
            font-weight: 400;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 14px;
            text-transform: capitalize;
          }
        }
      }
      h5 {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 2.3;
        color: $themeBlack;
        + h5 {
          margin-bottom: 30px;
        }
      }
      // .download_app {
      //   h4 {
      //     margin-bottom: 20px;
      //   }
      //   .app_images {
      //     a {
      //       display: inline-block;
      //       img {
      //         width: 120px;
      //         cursor: pointer;
      //       }
      //       + a {
      //         margin-left: 15px;
      //         img {
      //           height: 38px;
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
  // ===========Footer ========================
}
