@media only screen and (max-width: 400px) {
  .home_page_wrapper {
    .header_Wrapper {
      .header_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        .logo_block {
          margin: 0;
          padding: 0;
        }
        .search_block {
          margin: 0;
          padding: 0;
        }
        .menu_block {
          margin: 0;
          padding-top: 15px;
        }
      }
    }
    .home_Wrapper {
      .product_list_wrapper {
        .product_item {
          max-width: unset;
          width: 100%;
          .product_image img {
            height: auto;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
